.container{
	display: flex;
	flex-direction: row;
	padding: 2rem 2rem;
	margin: 2rem auto;
	border: 2px solid;
	box-shadow: 10px 10px #888888;
	font-family: courier new;
}

.container img{
	display: flex;
	flex-direction: center;
	margin: auto;
}


